@keyframes rotation-r {
    50% {
        transform: rotate(0deg);
        width: 50%;
        left: 0;
    }
    100% {
        transform: rotate(-45deg);
        width: 76%;
        left: -4px;  
    }
}

@keyframes rotation-l {
    50% {
        transform: rotate(0deg);
        width: 50%;
        right: 0;
    }
    100% {
        transform: rotate(45deg);
        width: 76%;
        right: -5px;    
    }
}

@keyframes preload {
    100% {
        transform: rotate(40deg);
    }
}