.heading {
  color: #303030;
  text-align: center;
  padding: 52px 0;
}

.heading-title {
  font-family: "OpenSans", Helvetica, sans-serif;
  font-size: 64px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 22px 0;
}

.heading-undertitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 24px;
  color: #606060;
  margin-bottom: 70px;
}

.heading-btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 auto;
  border: 1px solid #606060;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.heading-btn:hover {
  background-color: #606060;
  color: #fff;
}

.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.banner-item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  background: #c1c1c1 center no-repeat;
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.banner-item::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.banner-item-attention {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto 20px;
  background: url("../images/icons/attention-sign-outline.png") center no-repeat;
  background-size: contain;
}

.banner-item-attention::before, .banner-item-attention::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background: #fff;
  top: 0;
  bottom: 0;
  margin: auto;
}

.banner-item-attention::before {
  left: -30px;
}

.banner-item-attention::after {
  right: -30px;
}

.banner-item-text1 {
  font-family: "OpenSans", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}

.banner-item-text2 {
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 26px;
}

.banner-item-text3 {
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}

.banner-item-arrow {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto 15px;
}

.banner-item-arrow::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
}

.subscribe {
  padding: 200px 0;
  text-align: center;
  color: #303030;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 56px;
}

.subscribe-form-item {
  height: 100%;
  width: 470px;
  border: 1px solid #959595;
  border-right: none;
  outline: none;
  padding: 15px;
  font-style: italic;
}

.subscribe-form-btn {
  height: 100%;
  padding: 21px 30px;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  background-color: #f68236;
  border: 1px solid #e67429;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.subscribe-form-btn:hover {
  background-color: #e67429;
}

.subscribe-error {
  display: none;
  color: red;
  font-size: 13px;
  font-style: italic;
}

.subscribe-error.error-active {
  display: block;
}

.subscribe-error-wrap {
  height: 56px;
  padding: 20px;
}
/*# sourceMappingURL=index.css.map */