/* Общие стили для всех страниц */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 0;
}

a {
    text-decoration: none;
}

// общий контейнер
.wrapper {
    background-color: #fff;
    max-width: 1200px;
    padding: 36px 30px;
    margin: 0 auto;
}

// меню в Header
.navigation-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
    color: #303030;
    margin-bottom: 30px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
    }
}

.menu {
    display: flex;
    align-items: center;

    &-item {
        margin: 0 5px;
        padding: 10px;
        color: #303030;

        &.logo {
            background: #000 url("../images/icons/logo.jpg") no-repeat;
            background-size: contain;
            width: 42px;
            height: 42px;
            // display: block;
            margin: 0 48px 0 0;
        }
    }
}

.account {
    display: flex;
    align-items: center;

    &-logining {
        color: #303030;
        display: flex;
        align-items: center;
        margin-left: 40px;

        &-icon {
            width: 28px;
            height: 28px;
            background-size: contain;
            background-repeat: no-repeat;

            &.icon-login {
                background-image: url("../images/icons/account.png");
            }

            &.icon-basket {
                background-image: url("../images/icons/basket.png");
            }
        }
    }
}

.line-head {
    background: #e5e5e5;
    width: 1140px;
    height: 1px;
    margin: 0 auto 30px;
}

// Разделы в Футере
.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.chapter {
    color: #303030;
    // margin: 30px auto;
    padding-bottom: 15px;

    &-wrap {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;

        &.col-line {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: #e5e5e5;
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }
    }

    &-title {
        font-size: 14px;
        text-transform: uppercase;
        margin: 10px 0;
    }

    &-link,
    &-info {
        font-size: 12px;
        color: #303030;
        padding: 6px 0;
        // margin: 3px 0;
    }
}

// Лоадер
.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
        display: flex;
    }
}
